body {
    margin-left: 20px;
    border-radius: 20px;
}

.h1-title {
    text-align: center;
}

.big-body-wrapper {
    margin-top: 1%;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chappo {
    margin-top: 1%;
    margin-left: 2%;
}

.border-chappo {
    margin-left: 15%;
    margin-right: 15%;
    border: 5px solid turquoise;
    border-radius: 10px;
}

.wrapper-body {
    margin-left: 15%;
    margin-right: 15%;
    border: 5px solid turquoise;
    border-radius: 10px;
}
